/* 
CIS
Joseph Neathawk 2021
rainbow style 
*/

.box {
    margin: 2em;
    padding: 2em;
    border: 1em  #3B57B1;
    width: 30em;
    background-color: mediumvioletred;
}
.box1 {
    box-sizing: content-box;
    background-color: green;
}

.box2 {
	box-sizing: border-box;
	background-color: turquoise;
}
